.App {
  margin: 5%;
}

.testContainer {
  margin-top: 100px;
  width: 300px;
  border: 2px solid red;
  background-color: blue;
}

.childContainer {
  border: 1pd solid gray;
  width: 50px;
  margin: auto;
  background-color: yellow;
}

body {
  background-color: #adaa9f;
}
h2 {
  color: rgb(231, 206, 206);
  text-shadow: 2px 2px 4px #000000;
}

.clock-main-container {
  margin: 10%;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.clock-main-container h2 {
  text-align: center;
  padding-top: 2%;
}

.clock-container {
  display: flex;
}

.clock-c {
  background-image: url("https://www.uhrmacherwerkzeuge.com/WebRoot/Store18/Shops/62662707/5D2F/0CF7/E0EC/CBE2/6640/0A0C/6D04/E5C9/6041A-3295.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 400px;
  height: 400px;
  margin: auto;
  position: relative;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 49%;
  transform: translateX(-50%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  transform-origin: bottom;
  transition: 2s;
  z-index: 99;
}

.hand-hour {
  width: 2%;
  height: 30%;
  background-color: black;
}

.hand-min {
  width: 1%;
  height: 36%;
  background-color: black;
}

.hand-sec {
  width: .5%;
  height: 38%;
  background: red;
  z-index: 0;
}

.input-c {
  padding: 15% 5%;
  display: flex;
  flex-direction: column;
}

.inputContainer {
  display: flex;
}

.input-c input {
  font-size: .7rem;
  margin-bottom: 1rem;
  border-radius: 0.4rem;
  background: #c2bda0;
  text-align: center;
  padding: 7px;
  border: none;
  outline: none;
}

input {
  margin-right: 3px;
}

.btn-c {
  background-color: #696967;
  border: none;
  color: #b6b09b;
  font-size: 14px;
  width: 35%;
  height: 2.75rem;
  border-radius: 0.4rem;
  margin: 1% 38%;
}

.btn-c:active {
  transform: scale(0.94);
}

.errorMes {
  color: red;
  font-size: 14px;
  margin-top: -2%;
}

@media (max-width: 1000px) {

  .clock-container {
    flex-direction: column;
  }

  .clock-main-container h2 {
    font-size: 1rem;
  }

  .clock-c {
    width: 200px;
    height: 200px;
    margin: -8% auto 2%;
  }

  .input-c {
    padding: 5%;
    flex-direction: column;
  }

  .inputContainer {
    margin: auto;
  }

  .input-c input {
    width: 50%;
    font-size: .4rem;
    margin: -1rem auto .5rem;
    padding: 5px;
  }

  .btn-c {
    font-size: .5rem;
    width: 35%;
    height: 1.5rem;
    margin: 1% 34% 4%;
  }

  .errorMes {
    font-size: .8rem;
  }
}
